{% extends "base.html" %} 

{% block title %}
Forbidden (403)
{% endblock%} 

{% block content %}

<section
  class="password-section d-flex form-wrapper justify-content-center align-items-center mvh-100"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h1 id="errors">Forbidden (403)</h1>
        <p>Sorry, you don’t have permission to view this page.</p>
        <button href="{% url 'home' %}" class="btn btn-theme">
          Return to homepage
        </button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
