{% extends "base.html" %} {% block content %}

<section
  class="password-section d-flex form-wrapper justify-content-center align-items-center mvh-100"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h1 id="errors">Page not found (500)</h1>
        <p>Sorry, there was a server error. Please try again later.</p>
        <button href="{% url 'home' %}" class="btn btn-theme">
          Return to homepage
        </button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
