{% extends "base.html" %} {% block title %}Password Reset{% endblock %} {% block
content %}

<section
  class="password-section d-flex form-wrapper justify-content-center align-items-center mvh-100"
>
  <div class="container">
    <h2>Password Reset</h2>
    <form method="post" action="{% url 'password_reset' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-theme">Reset Password</button>
    </form>
    <p>
      Remembered your password?
      <a href="{% url 'login' %}">Try logging in again here</a>.
    </p>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here.</a></p>
  </div>
</section>

{% endblock %}
