{% extends "base.html" %}

{% block content %}

<!-- password-reset-confirm.html content starts here -->
<!-- This page is where the user is able to reset the password -->
<main>
<section class="password-section">
  <div class="container">

    <h2>Password Reset Confirmation</h2>
    <form method="post" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Set New Password</button>
    </form>
    <p>Remembered your password? <a href="{% url 'login' %}">Try logging in again here</a>.</p>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here.</a></p>

  </div>

  </section>
</main>
{% endblock %}