{% extends "base.html" %} 

{% block title %}
Password Reset | Sent
{% endblock%} 

{% block content %}

<section
  class="password-section d-flex form-wrapper justify-content-center align-items-center mvh-100"
>
  <div class="container">
    <h2>Password Reset</h2>

    {% if email_exists %}
    <p>
      If <strong>{{ submitted_email }}</strong> exists in our system, a password
      reset email has been sent. Check your inbox (and spam folder).
    </p>
    <p><a href="{% url 'login' %}">Click here to log in</a>.</p>
    {% else %}
    <p>
      The email <strong>{{ submitted_email }}</strong> is not registered with
      us. <br />
      <a href="{% url 'signup' %}">Please sign up first.</a>
    </p>
    {% endif %}
  </div>
</section>

{% endblock %}
