{% extends "base.html" %}

{% block content %}
<main>
<section class="password-section d-flex form-wrapper justify-content-center align-items-center mvh-100">
  <div class="container">

    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset! You can now log in with your new password.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>

  </div>
</section>
</main>
{% endblock %}
