body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  color: pink;
  display: flex;
  background-repeat: no-repeat;
}

h1 {
    color: white;
    text-align: center;
}

.sidebar {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  width: 200px;
}
